<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Investment Service</h1>
  <!--
   <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>-->

<form name="form1" class="form-inline" method="POST" >
  <div class="form-group">
    <div class="input-group">
        <p>
        <span class="input-group-addon">Select Table    </span>
            <select name="entity_select" class="selectpicker form-control" onChange="form1.submit()">
              {% for o in entityList %}
              <option value="{{ o }}" {% if o == state.entityChoice %} selected{% endif %}>{{ o }}</option>
              {% endfor %}
            </select>
        </p>
        <p>
        <span class="input-group-addon">Add Filter       </span>
            <small>{{filterATitle}} </small>
            <select name="filterA_select" class="selectpicker form-control"  onChange="form1.submit()">
              {% for o in filterAList %}
              <option value="{{ o }}"   {% if o == state.filterAChoice %} selected{% endif %}>{{ o }}</option>
              {% endfor %}
            </select>
        {% if state.entityChoice != "People" and state.entityChoice != "Acquisition"  %} 
            <small>{{filterBTitle}} </small>
            <select name="filterB_select" class="selectpicker form-control"  onChange="form1.submit()">
              {% for o in filterBList %}
              <option value="{{ o }}"  {% if o == state.filterBChoice %} selected{% endif %}>{{ o }}</option>
              {% endfor %}
            </select>
        {% endif %}
        </p>
        <p>
        <span class="input-group-addon">Sort By       </span>
            <small>Attrbute </small>
            <select name="sortA_select" class="selectpicker form-control"  onChange="form1.submit()">
              {% for o in sortAList %}
              <option value="{{ o }}" {% if o == state.sortAChoice %} selected{% endif %}>{{ o }}</option>
              {% endfor %}
            </select>

            <small> Sorting Order</small>
            <input type="radio" name="sortB_select" value={{order[0]}}  onChange="form1.submit()" {% if order[0] == state.sortBChoice %} checked{% endif %}> <small>  ASC </small>
            <input type="radio" name="sortB_select" value={{order[1]}}   onChange="form1.submit()" {% if order[1]  == state.sortBChoice %} checked{% endif %}> <small>  DESC </small>

        </p>

    </div>
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  </div>
</form>

    <table>
    {% for t in tableData %}
        <tr>
        {% for i in t %}
            <td>
                    {% if i.startswith("http:") or i.startswith("https:") %}
                        <a href="{{i}}">{{i}}</a>
                    {% else %}
                        {{i}}
                    {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
     </table>

<!--
<p><a href="http://www.google.com">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
-->
</form>

</body>


</html>
